In [1]:
# Importing Packages
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('store_sales_1.csv')
df1

,ProductName,Qty,Unit_Price,SaleDate,CurrencyType,CustomerID,StoreID
0,Smith Paper,3.0,10.50,7/13/2024,OMR,9ca482a2-0356-49c1-b5e3-88ae98d1cc2f,Store_A
1,Johnson Screen,NaN,NaN,2/23/2025,Usd,c0b9df4e-8f03-4bf0-a31b-0a7d7c2a8907,Store_A
2,Roberts Ingredient,3.0,30.00,11/13/2024,USD,97dc18e3-2c12-4e26-9863-32514e82e822,Store_A
3,White Monitor,NaN,10.50,4/16/2025,USD,e4d09733-d496-47b3-a4b5-04de84d8fd06,Store_A
4,Rodriguez Keyboard,2.0,20.00,8/3/2024,usd,435ecb46-4545-4af7-b72c-119f64d193a5,Store_A
...,...,...,...,...,...,...,...
95,Woods Detergent,NaN,30.00,2/19/2025,usd,3ca4e50e-0b3c-4093-97aa-0203a3cb6c84,Store_A
96,Cole Polish,2.0,15.75,10/14/2024,Usd,1b626cad-36b0-4cd8-ad1a-5bae2dc27b61,Store_A
97,West Shine,NaN,10.50,2/10/2025,usd,96680cdc-056f-482a-9c83-3976e3bb3f62,Store_A
98,Jordan Bleach,2.0,20.00,2/19/2025,USD,fd17a1f7-9ce7-4bc0-9d26-1672ac678332,Store_A
99,Owens Powder,2.0,10.50,7/15/2024,Usd,232d1545-43b1-477b-ac22-4b1d25b9f81a,Store_A

In [3]:
df1.isnull().sum()

ProductName      0
Qty             21
Unit_Price      22
SaleDate         0
CurrencyType    22
CustomerID      10
StoreID          0
dtype: int64

In [4]:
df1['Qty']

0     3.0
1     NaN
2     3.0
3     NaN
4     2.0
     ...
95    NaN
96    2.0
97    NaN
98    2.0
99    2.0
Name: Qty, Length: 100, dtype: float64

In [5]:
# 2. Replace NaN with the zero
df1['Qty'] = df1['Qty'].fillna(0)
df1['Qty']

0     3.0
1     0.0
2     3.0
3     0.0
4     2.0
     ...
95    0.0
96    2.0
97    0.0
98    2.0
99    2.0
Name: Qty, Length: 100, dtype: float64

In [6]:
df1['Unit_Price']

0     10.50
1       NaN
2     30.00
3     10.50
4     20.00
      ...
95    30.00
96    15.75
97    10.50
98    20.00
99    10.50
Name: Unit_Price, Length: 100, dtype: float64

In [7]:
# Mean / Median Imputation (Recommended)
#Missing prices are random (not biased).
mean_price = df1['Unit_Price'].mean()
df1['Unit_Price'] = df1['Unit_Price'].fillna(mean_price)
df1['Unit_Price']

0     10.500000
1     19.416667
2     30.000000
3     10.500000
4     20.000000
        ...
95    30.000000
96    15.750000
97    10.500000
98    20.000000
99    10.500000
Name: Unit_Price, Length: 100, dtype: float64

In [8]:
df1['CurrencyType']

0     OMR
1     Usd
2     USD
3     USD
4     usd
     ...
95    usd
96    Usd
97    usd
98    USD
99    Usd
Name: CurrencyType, Length: 100, dtype: object

In [9]:
print("Unique currency types:")
print(df1['CurrencyType'].unique())

Unique currency types:
['OMR' 'Usd' 'USD' 'usd' nan]

In [10]:
# Convert all USD variants to 'OMR' (case-insensitive)
df1['CurrencyType'] = df1['CurrencyType'].str.upper().replace({'USD': 'OMR', 'USD': 'OMR', 'USd': 'OMR'})

In [11]:
df1['CurrencyType'] = df1['CurrencyType'].fillna('OMR')

In [12]:
print("Unique currency types:")
print(df1['CurrencyType'].unique())

Unique currency types:
['OMR']

In [13]:
df1['CustomerID'] = df1['CustomerID'].fillna("ANONYMOUS")
df1['CustomerID']

0     9ca482a2-0356-49c1-b5e3-88ae98d1cc2f
1     c0b9df4e-8f03-4bf0-a31b-0a7d7c2a8907
2     97dc18e3-2c12-4e26-9863-32514e82e822
3     e4d09733-d496-47b3-a4b5-04de84d8fd06
4     435ecb46-4545-4af7-b72c-119f64d193a5
                      ...
95    3ca4e50e-0b3c-4093-97aa-0203a3cb6c84
96    1b626cad-36b0-4cd8-ad1a-5bae2dc27b61
97    96680cdc-056f-482a-9c83-3976e3bb3f62
98    fd17a1f7-9ce7-4bc0-9d26-1672ac678332
99    232d1545-43b1-477b-ac22-4b1d25b9f81a
Name: CustomerID, Length: 100, dtype: object

In [14]:
anonymous_count = (df1['CustomerID'] == 'ANONYMOUS').sum()
print(f"Count of 'ANONYMOUS': {anonymous_count}")

Count of 'ANONYMOUS': 10

In [15]:
df1.isnull().sum()

ProductName     0
Qty             0
Unit_Price      0
SaleDate        0
CurrencyType    0
CustomerID      0
StoreID         0
dtype: int64

In [16]:
df2 = pd.read_csv('store_sales_2.csv')
df2

,ProductName,Qty,Unit_Price,SaleDate,CurrencyType,CustomerID,StoreID
0,Smith Paper,NaN,15.75,1/21/2025,USD,e7ca4c9c-f50c-47b7-bfa8-9099481cda82,store-A
1,Johnson Mirror,1.0,15.75,10/14/2024,OMR,fa0921c6-b10f-4a8a-bb80-2c6db42851f8,store-A
2,Roberts Pen,2.0,30.00,4/16/2025,usd,ff1f1a3e-4889-46d4-824e-d92e4c51cf45,store-A
3,White Monitor,NaN,15.75,1/9/2025,NaN,953b7f1c-47e2-4d65-92c1-871feb259325,store-A
4,Torres Table,2.0,30.00,8/11/2024,usd,276d23d2-aa88-4056-9480-acc4c7d6a499,store-A
...,...,...,...,...,...,...,...
95,Pierce File,1.0,10.50,7/27/2024,Usd,72a815bf-d3e6-444a-8467-61f4157b6bc2,store-A
96,Fisher Cover,NaN,20.00,5/23/2025,usd,9d384907-7e3e-46cc-b11b-40a52a0b6c85,store-A
97,Arnold Fork,2.0,15.75,9/26/2024,OMR,78c4328d-f82b-4402-b617-aa92f2cca99d,store-A
98,Doyle Grip,NaN,20.00,11/7/2024,OMR,c7a97c12-67e2-408b-bebe-686e875e2e7b,store-A
99,Chavez Printer,1.0,20.00,12/28/2024,OMR,f0e8f3bf-2375-4e01-96c8-f933769e172d,store-A

In [17]:
df2.isnull().sum()

ProductName      0
Qty             34
Unit_Price      25
SaleDate         0
CurrencyType    16
CustomerID      12
StoreID          0
dtype: int64

In [18]:
# 2. Replace NaN with the zero
df2['Qty'] = df2['Qty'].fillna(0)
df2['Qty']

0     0.0
1     1.0
2     2.0
3     0.0
4     2.0
     ...
95    1.0
96    0.0
97    2.0
98    0.0
99    1.0
Name: Qty, Length: 100, dtype: float64

In [19]:
# Mean / Median Imputation (Recommended)
#Missing prices are random (not biased).
mean_price = df2['Unit_Price'].mean()
df2['Unit_Price'] = df2['Unit_Price'].fillna(mean_price)
df2['Unit_Price']

0     15.75
1     15.75
2     30.00
3     15.75
4     30.00
      ...
95    10.50
96    20.00
97    15.75
98    20.00
99    20.00
Name: Unit_Price, Length: 100, dtype: float64

In [20]:
print("Unique currency types:")
print(df2['CurrencyType'].unique())

Unique currency types:
['USD' 'OMR' 'usd' nan 'Usd']

In [21]:
# Convert all USD variants to 'OMR' (case-insensitive)
df2['CurrencyType'] = df2['CurrencyType'].str.upper().replace({'USD': 'OMR', 'USD': 'OMR', 'USd': 'OMR'})

In [22]:
df2['CurrencyType'] = df2['CurrencyType'].fillna('OMR')

In [23]:
print("Unique currency types:")
print(df2['CurrencyType'].unique())

Unique currency types:
['OMR']

In [24]:
df2['CustomerID'] = df2['CustomerID'].fillna("ANONYMOUS")
df2['CustomerID']

0     e7ca4c9c-f50c-47b7-bfa8-9099481cda82
1     fa0921c6-b10f-4a8a-bb80-2c6db42851f8
2     ff1f1a3e-4889-46d4-824e-d92e4c51cf45
3     953b7f1c-47e2-4d65-92c1-871feb259325
4     276d23d2-aa88-4056-9480-acc4c7d6a499
                      ...
95    72a815bf-d3e6-444a-8467-61f4157b6bc2
96    9d384907-7e3e-46cc-b11b-40a52a0b6c85
97    78c4328d-f82b-4402-b617-aa92f2cca99d
98    c7a97c12-67e2-408b-bebe-686e875e2e7b
99    f0e8f3bf-2375-4e01-96c8-f933769e172d
Name: CustomerID, Length: 100, dtype: object

In [25]:
anonymous_count = (df2['CustomerID'] == 'ANONYMOUS').sum()
print(f"Count of 'ANONYMOUS': {anonymous_count}")

Count of 'ANONYMOUS': 12

In [26]:
df2.isnull().sum()

ProductName     0
Qty             0
Unit_Price      0
SaleDate        0
CurrencyType    0
CustomerID      0
StoreID         0
dtype: int64

In [27]:
df3 = pd.read_csv('store_sales_3.csv')
df3

,ProductName,Qty,Unit_Price,SaleDate,CurrencyType,CustomerID,StoreID
0,Johnson Mirror,3.0,NaN,10/15/2024,usd,ad3c23ab-269f-4fea-a92b-f23ca9dd8e8a,STORE_A
1,Roberts Pen,NaN,20.00,3/12/2025,USD,e776bdfe-2cdb-4c49-96d3-63de01dca328,STORE_A
2,White Monitor,NaN,10.50,11/9/2024,Usd,f71b163e-d97f-4bdd-93eb-b5ec9e1d6e80,STORE_A
3,Moore Chair,NaN,20.00,6/16/2024,NaN,b710729e-34f6-4bba-92a3-e8dd840524b5,STORE_A
4,Jackson Cable,1.0,NaN,8/11/2024,USD,1f3219ac-02a6-455b-af6a-87711e6653d1,STORE_A
...,...,...,...,...,...,...,...
95,Case,1.0,30.00,8/22/2024,Usd,b0552606-1fe5-420f-abf0-a86289c250ba,STORE_A
96,Black,NaN,30.00,12/24/2024,Usd,6da0ca26-e56e-41e1-89b0-004aa6d74b3e,STORE_A
97,On,1.0,20.00,9/6/2024,NaN,045081fa-0df3-4904-820b-067b4176fb85,STORE_A
98,Soon,2.0,NaN,7/4/2024,NaN,a6b5132d-2026-4400-83d9-a64ed546bd51,STORE_A
99,Skill,2.0,15.75,9/6/2024,Usd,d3415bba-ac14-4a61-904f-f5542552ee4e,STORE_A

In [28]:
df3.isnull().sum()

ProductName      0
Qty             18
Unit_Price      20
SaleDate         0
CurrencyType    16
CustomerID       9
StoreID          0
dtype: int64

In [29]:
# 2. Replace NaN with the zero
df3['Qty'] = df3['Qty'].fillna(0)
df3['Qty']

0     3.0
1     0.0
2     0.0
3     0.0
4     1.0
     ...
95    1.0
96    0.0
97    1.0
98    2.0
99    2.0
Name: Qty, Length: 100, dtype: float64

In [30]:
# Mean / Median Imputation (Recommended)
#Missing prices are random (not biased).
mean_price = df3['Unit_Price'].mean()
df3['Unit_Price'] = df3['Unit_Price'].fillna(mean_price)
df3['Unit_Price']

0     18.46875
1     20.00000
2     10.50000
3     20.00000
4     18.46875
        ...
95    30.00000
96    30.00000
97    20.00000
98    18.46875
99    15.75000
Name: Unit_Price, Length: 100, dtype: float64

In [31]:
print("Unique currency types:")
print(df3['CurrencyType'].unique())

Unique currency types:
['usd' 'USD' 'Usd' nan 'OMR']

In [32]:
# Convert all USD variants to 'OMR' (case-insensitive)
df3['CurrencyType'] = df3['CurrencyType'].str.upper().replace({'USD': 'OMR', 'USD': 'OMR', 'USd': 'OMR'})

In [33]:
df3['CurrencyType'] = df3['CurrencyType'].fillna('OMR')

In [34]:
print("Unique currency types:")
print(df3['CurrencyType'].unique())

Unique currency types:
['OMR']

In [35]:
df3['CustomerID'] = df3['CustomerID'].fillna("ANONYMOUS")
df3['CustomerID']

0     ad3c23ab-269f-4fea-a92b-f23ca9dd8e8a
1     e776bdfe-2cdb-4c49-96d3-63de01dca328
2     f71b163e-d97f-4bdd-93eb-b5ec9e1d6e80
3     b710729e-34f6-4bba-92a3-e8dd840524b5
4     1f3219ac-02a6-455b-af6a-87711e6653d1
                      ...
95    b0552606-1fe5-420f-abf0-a86289c250ba
96    6da0ca26-e56e-41e1-89b0-004aa6d74b3e
97    045081fa-0df3-4904-820b-067b4176fb85
98    a6b5132d-2026-4400-83d9-a64ed546bd51
99    d3415bba-ac14-4a61-904f-f5542552ee4e
Name: CustomerID, Length: 100, dtype: object

In [36]:
anonymous_count = (df3['CustomerID'] == 'ANONYMOUS').sum()
print(f"Count of 'ANONYMOUS': {anonymous_count}")

Count of 'ANONYMOUS': 9

In [37]:
df3.isnull().sum()

ProductName     0
Qty             0
Unit_Price      0
SaleDate        0
CurrencyType    0
CustomerID      0
StoreID         0
dtype: int64

In [38]:
import pandas as pd

# Assuming you have three cleaned DataFrames: df1, df2, df3
combined_sales = pd.concat([df1, df2, df3], ignore_index=True)

# Save to new CSV
combined_sales.to_csv('combined_sales_cleaned.csv', index=False)

print(f"Combined {len(combined_sales):,} rows saved to combined_sales_cleaned.csv")

Combined 300 rows saved to combined_sales_cleaned.csv

In [39]:
df = pd.read_csv('combined_sales_cleaned.csv')
df

,ProductName,Qty,Unit_Price,SaleDate,CurrencyType,CustomerID,StoreID
0,Smith Paper,3.0,10.500000,7/13/2024,OMR,9ca482a2-0356-49c1-b5e3-88ae98d1cc2f,Store_A
1,Johnson Screen,0.0,19.416667,2/23/2025,OMR,c0b9df4e-8f03-4bf0-a31b-0a7d7c2a8907,Store_A
2,Roberts Ingredient,3.0,30.000000,11/13/2024,OMR,97dc18e3-2c12-4e26-9863-32514e82e822,Store_A
3,White Monitor,0.0,10.500000,4/16/2025,OMR,e4d09733-d496-47b3-a4b5-04de84d8fd06,Store_A
4,Rodriguez Keyboard,2.0,20.000000,8/3/2024,OMR,435ecb46-4545-4af7-b72c-119f64d193a5,Store_A
...,...,...,...,...,...,...,...
295,Case,1.0,30.000000,8/22/2024,OMR,b0552606-1fe5-420f-abf0-a86289c250ba,STORE_A
296,Black,0.0,30.000000,12/24/2024,OMR,6da0ca26-e56e-41e1-89b0-004aa6d74b3e,STORE_A
297,On,1.0,20.000000,9/6/2024,OMR,045081fa-0df3-4904-820b-067b4176fb85,STORE_A
298,Soon,2.0,18.468750,7/4/2024,OMR,a6b5132d-2026-4400-83d9-a64ed546bd51,STORE_A
299,Skill,2.0,15.750000,9/6/2024,OMR,d3415bba-ac14-4a61-904f-f5542552ee4e,STORE_A

In [40]:
df.isnull().sum()

ProductName     0
Qty             0
Unit_Price      0
SaleDate        0
CurrencyType    0
CustomerID      0
StoreID         0
dtype: int64

## Import Libraries and Create Database Connection

In [41]:
# Install required library
!pip install pymysql sqlalchemy

import pandas as pd
from sqlalchemy import create_engine, text

# MySQL connection (replace with your credentials)
engine = create_engine("mysql+pymysql://root:root@localhost/Saless")

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in c:\users\ayaha\appdata\roaming\python\python312\site-packages (1.1.1)
Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

## Load CSV Data and  Convert Date Format

In [42]:
sales_data = pd.read_csv("combined_sales_cleaned.csv")

# Ensure DATE format (if needed)
sales_data['SaleDate'] = pd.to_datetime(sales_data['SaleDate']).dt.date

# Preview data
sales_data.head(5)

,ProductName,Qty,Unit_Price,SaleDate,CurrencyType,CustomerID,StoreID
0,Smith Paper,3.0,10.500000,2024-07-13,OMR,9ca482a2-0356-49c1-b5e3-88ae98d1cc2f,Store_A
1,Johnson Screen,0.0,19.416667,2025-02-23,OMR,c0b9df4e-8f03-4bf0-a31b-0a7d7c2a8907,Store_A
2,Roberts Ingredient,3.0,30.000000,2024-11-13,OMR,97dc18e3-2c12-4e26-9863-32514e82e822,Store_A
3,White Monitor,0.0,10.500000,2025-04-16,OMR,e4d09733-d496-47b3-a4b5-04de84d8fd06,Store_A
4,Rodriguez Keyboard,2.0,20.000000,2024-08-03,OMR,435ecb46-4545-4af7-b72c-119f64d193a5,Store_A

## Establish Connection and Begin Transaction

In [43]:
# Now establish the connection
connection = engine.connect()
trans = connection.begin()
connection.execute(text("SET FOREIGN_KEY_CHECKS = 0"))
print("Connection established and transaction started")

Connection established and transaction started

## Prepare Product Data

In [44]:
products = sales_data[['ProductName']].drop_duplicates()
products['ProductID'] = [f'P{str(i+1).zfill(9)}' for i in range(len(products))]
product_records = [row.to_dict() for _, row in products.iterrows()]
print(f"Prepared {len(product_records)} product records")

Prepared 182 product records

## Insert Products

In [45]:
connection.execute(
    text("INSERT IGNORE INTO Product (ProductID, ProductName) VALUES (:ProductID, :ProductName)"),
    product_records
)
print(f"Successfully inserted {len(product_records)} products")

Successfully inserted 182 products

## Prepare Customer Data

In [46]:
customers = sales_data[['CustomerID']].drop_duplicates()
customer_records = [row.to_dict() for _, row in customers.iterrows()]
print(f"Prepared {len(customer_records)} customer records")

Prepared 270 customer records

## Insert Customers

In [47]:
connection.execute(
    text("INSERT IGNORE INTO Customer (CustomerID) VALUES (:CustomerID)"),
    customer_records
)
print(f"Successfully inserted {len(customer_records)} customers")

Successfully inserted 270 customers

## Prepare Store Data

In [48]:
stores = sales_data[['StoreID']].drop_duplicates()
store_records = [row.to_dict() for _, row in stores.iterrows()]
print(f"Prepared {len(store_records)} store records")

Prepared 3 store records

In [49]:
stores = sales_data[['StoreID']].drop_duplicates()
store_records = [row.to_dict() for _, row in stores.iterrows()]
print(f"Prepared {len(store_records)} store records")

Prepared 3 store records

##  Insert Stores

In [50]:
connection.execute(
    text("INSERT IGNORE INTO Store (StoreID) VALUES (:StoreID)"),
    store_records
)
print(f"Successfully inserted {len(store_records)} stores")

Successfully inserted 3 stores

##  Get Product Mapping

In [51]:
product_map = pd.read_sql("SELECT ProductID, ProductName FROM Product", connection)
print(f"Retrieved {len(product_map)} product mappings")

Retrieved 182 product mappings

## Merge Sales Data

In [52]:
sales = sales_data.merge(product_map, on='ProductName')
sales['SaleID'] = [f'S{str(i+1).zfill(9)}' for i in range(len(sales))]
sales_records = sales[[
    'SaleID', 'Qty', 'Unit_Price', 'SaleDate',
    'CurrencyType', 'ProductID', 'CustomerID', 'StoreID'
]].to_dict('records')
print(f"Prepared {len(sales_records)} sales records")

Prepared 300 sales records

## Insert Sales

In [53]:
connection.execute(
    text("""
        INSERT INTO Sale 
        (SaleID, Qty, Unit_Price, SaleDate, CurrencyType, ProductID, CustomerID, StoreID)
        VALUES 
        (:SaleID, :Qty, :Unit_Price, :SaleDate, :CurrencyType, :ProductID, :CustomerID, :StoreID)
    """),
    sales_records
)
print(f"Successfully inserted {len(sales_records)} sales")

Successfully inserted 300 sales

## Finalize Transaction

In [54]:
connection.execute(text("SET FOREIGN_KEY_CHECKS = 1"))
trans.commit()
print("Transaction committed successfully")

Transaction committed successfully

## Verification

In [55]:
print("\nFinal verification:")
print("Products:", pd.read_sql("SELECT COUNT(*) FROM Product", connection).iloc[0,0])
print("Customers:", pd.read_sql("SELECT COUNT(*) FROM Customer", connection).iloc[0,0])
print("Stores:", pd.read_sql("SELECT COUNT(*) FROM Store", connection).iloc[0,0])
print("Sales:", pd.read_sql("SELECT COUNT(*) FROM Sale", connection).iloc[0,0])

Final verification:
Products: 182
Customers: 270
Stores: 2
Sales: 300

## Cleanup

In [56]:
connection.close()
engine.dispose()
print("Connection closed and resources released")

Connection closed and resources released

## 🌸Sales Data Pipeline 🌸

What it does:

- Loads sales data from CSV

- Stores it in MySQL

- Checks data regularly

3 Simple Steps:

1. Reads your sales file

2. Creates database tables

3. Fills them with your data

Plus:
- Auto-checks data every 15 sec
- Handles errors
- Cleans messy data

In [ ]:
# Install required packages
try:
    import schedule
except ImportError:
    print("📦 Installing schedule package...")
    !pip install schedule
    import schedule

import pandas as pd
from sqlalchemy import create_engine, text
from datetime import datetime
import time

# 1. Load and prepare data
print("🌸 Loading sales data...")
try:
    sales_data = pd.read_csv("combined_sales_cleaned.csv")
    print(f"✅ Loaded {len(sales_data)} records from CSV")
    
    # Convert and normalize data
    sales_data['SaleDate'] = pd.to_datetime(sales_data['SaleDate']).dt.date
    sales_data['StoreID'] = sales_data['StoreID'].str.upper().str.strip()
    sales_data['CustomerID'] = sales_data['CustomerID'].str.upper().str.strip()
    
    # Debug: Show sample data
    print("\nSample data:")
    print(sales_data.head(3))
except Exception as e:
    print(f"❌ Failed to load data: {e}")
    exit()

# 2. Database connection
try:
    engine = create_engine("mysql+pymysql://root:root@localhost/Saless")
    print("\n🔌 Testing database connection...")
    with engine.connect() as test_conn:
        test_conn.execute(text("SELECT 1"))
    print("✅ Database connection successful!")
except Exception as e:
    print(f"❌ Database connection failed: {e}")
    exit()

def initialize_database():
    """Create all tables and insert initial data"""
    print("\n🛠️ Initializing database...")
    try:
        with engine.begin() as connection:
            # Drop all tables if they exist (clean start)
            print("Dropping existing tables...")
            connection.execute(text("SET FOREIGN_KEY_CHECKS = 0"))
            connection.execute(text("DROP TABLE IF EXISTS sale"))
            connection.execute(text("DROP TABLE IF EXISTS product"))
            connection.execute(text("DROP TABLE IF EXISTS customer"))
            connection.execute(text("DROP TABLE IF EXISTS store"))
            connection.execute(text("SET FOREIGN_KEY_CHECKS = 1"))
            
            # Create fresh tables matching your SQL schema
            print("Creating tables...")
            connection.execute(text("""
                CREATE TABLE product (
                    ProductID CHAR(10) PRIMARY KEY,
                    ProductName VARCHAR(100) NOT NULL
                )
            """))
            connection.execute(text("""
                CREATE TABLE customer (
                    CustomerID VARCHAR(100) PRIMARY KEY
                )
            """))
            connection.execute(text("""
                CREATE TABLE store (
                    StoreID VARCHAR(20) PRIMARY KEY
                )
            """))
            connection.execute(text("""
                CREATE TABLE sale (
                    SaleID CHAR(10) PRIMARY KEY,
                    Qty DECIMAL(10,2),
                    Unit_Price DECIMAL(10,2) NOT NULL,
                    SaleDate DATE NOT NULL,
                    CurrencyType CHAR(3) NOT NULL,
                    ProductID CHAR(10) NOT NULL,
                    CustomerID VARCHAR(100) NOT NULL,
                    StoreID VARCHAR(20) NOT NULL,
                    FOREIGN KEY (ProductID) REFERENCES Product(ProductID),
                    FOREIGN KEY (CustomerID) REFERENCES Customer(CustomerID),
                    FOREIGN KEY (StoreID) REFERENCES Store(StoreID)
                )
            """))
            
            # Insert initial data
            print("Inserting products...")
            products = sales_data[['ProductName']].drop_duplicates()
            products['ProductID'] = [f'P{str(i+1).zfill(9)}' for i in range(len(products))]
            products.to_sql('product', con=connection, if_exists='append', index=False)
            print(f"Inserted {len(products)} products")
            
            print("Inserting customers...")
            customers = sales_data[['CustomerID']].drop_duplicates()
            customers.to_sql('customer', con=connection, if_exists='append', index=False)
            print(f"Inserted {len(customers)} customers")
            
            print("Inserting stores...")
            stores = sales_data[['StoreID']].drop_duplicates()
            stores.to_sql('store', con=connection, if_exists='append', index=False)
            print(f"Inserted {len(stores)} stores")
            
            print("Inserting sales...")
            sales = sales_data.merge(products, on='ProductName')
            sales['SaleID'] = [f'S{str(i+1).zfill(9)}' for i in range(len(sales))]
            sales = sales[['SaleID', 'Qty', 'Unit_Price', 'SaleDate', 'CurrencyType', 
                          'ProductID', 'CustomerID', 'StoreID']]
            sales.to_sql('sale', con=connection, if_exists='append', index=False)
            print(f"Inserted {len(sales)} sales")
            
            print("✅ Database initialized successfully!")
            
    except Exception as e:
        print(f"❌ Error during initialization: {e}")
        raise

def verify_data_insertion():
    """Verify that data was inserted correctly"""
    print("\n🔍 Verifying data insertion...")
    try:
        with engine.connect() as conn:
            tables = ['product', 'customer', 'store', 'sale']
            for table in tables:
                count = conn.execute(text(f"SELECT COUNT(*) FROM {table}")).scalar()
                print(f"{table}: {count} records")
    except Exception as e:
        print(f"❌ Verification failed: {e}")

# Run the initialization
try:
    initialize_database()
    verify_data_insertion()
except Exception as e:
    print(f"❌ Initialization failed: {e}")
    exit()

print("\n🚀 Starting Floral Data Scheduler 🚀")
print("🌷🌸🌼 Database is ready! 🌼🌸🌷")

# Schedule recurring runs (every 15 seconds)
def run_data_pipeline():
    print(f"\n🔄 Data pipeline run at {datetime.now().strftime('%H:%M:%S')}")
    verify_data_insertion()

schedule.every(15).seconds.do(run_data_pipeline)

try:
    while True:
        schedule.run_pending()
        time.sleep(1)
except KeyboardInterrupt:
    print("\n🔴 Stopping scheduler...")
    engine.dispose()
    print("🌺 Thank you for using the Floral Data Pipeline!")
    print("🌸🌼🌷 Goodbye! 🌷🌼🌸\n")

🌸 Loading sales data...
✅ Loaded 300 records from CSV

Sample data:
          ProductName  Qty  Unit_Price    SaleDate CurrencyType  \
0         Smith Paper  3.0   10.500000  2024-07-13          OMR
1      Johnson Screen  0.0   19.416667  2025-02-23          OMR
2  Roberts Ingredient  3.0   30.000000  2024-11-13          OMR

                             CustomerID  StoreID
0  9CA482A2-0356-49C1-B5E3-88AE98D1CC2F  STORE_A
1  C0B9DF4E-8F03-4BF0-A31B-0A7D7C2A8907  STORE_A
2  97DC18E3-2C12-4E26-9863-32514E82E822  STORE_A

🔌 Testing database connection...
✅ Database connection successful!

🛠️ Initializing database...
Dropping existing tables...
Creating tables...
Inserting products...
Inserted 182 products
Inserting customers...
Inserted 270 customers
Inserting stores...
Inserted 2 stores
Inserting sales...
Inserted 300 sales
✅ Database initialized successfully!

🔍 Verifying data insertion...
product: 182 records
customer: 270 records
store: 2 records
sale: 300 records

🚀 Starting Floral Data Scheduler 🚀
🌷🌸🌼 Database is ready! 🌼🌸🌷

🔄 Data pipeline run at 00:13:26

🔍 Verifying data insertion...
product: 182 records
customer: 270 records
store: 2 records
sale: 300 records

🔄 Data pipeline run at 00:13:41

🔍 Verifying data insertion...
product: 182 records
customer: 270 records
store: 2 records
sale: 300 records